.hero {
  position: relative;
  background: url(../imgs/banners/banner.jpg) no-repeat center center/cover;
  min-height: 90vh;
  border-top: 0.5rem solid $primary-color;
  border-bottom: 0.5rem solid $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;

  &.hero-start{
    align-items: start;
  }

  // @media screen and (max-width: 640px) {
  //   min-height: 90vh;
  // }

  & .app__container {
    z-index: 5;
  }
  & .hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 4rem;
    flex-direction: column;
    text-align: center;
  }
}

// Category Section
.categories {
  padding: 5rem 0;
  & h1.app__subtitle {
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
  }

  & .category__item {
    text-align: center;
    display: block;
    width: 100%;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.03);
    }
  }
}

// Beer of the Week Section
.beer__of__the__week {
  padding: 5rem 0;
  background-color: $light-grey;

  & .beer__model {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    @media (max-width: 640px) {
      width: 100%;
      flex-direction: column;
    }

    & div {
      width: 50%;
      padding: 3rem;
      margin: 0 auto;
      @media (max-width: 768px) {
        padding: 3rem 0rem;
      }
      @media (max-width: 640px) {
        width: 100%;
      }
    }
  }

  & .beer__description {
    & h1.app__subtitle {
      color: $primary-color;
    }
  }
}

// store address
.store__address {
  position: relative;
  padding: 5rem 0;
  background: url(../imgs/banners/bannerFoot.jpg) no-repeat center center/cover;
  & .store__details {
    position: relative;
    padding: 5rem;
    display: inline-block;
    margin-left: 10%;
    color: #fff;
    z-index: 2;
    text-align: center;
    @media (max-width: 640px) {
      width: 100%;
      padding: 3rem;
      margin: 0 auto;
    }
    &::after {
      content: "";
      background-color: #000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.5;
    }
  }
}

// Thank you sections
.thankyou__section {
  padding: 5rem 0;

  & .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width: 640px) {
      flex-direction: column;
    }
    & > div {
      width: 100%;
      height: 100%;
    }
  }
  & .message {
    text-align: center;

    & .app__title {
      font-size: 3rem;
      @media screen and (max-width: 640px) {
        font-size: 2.5rem;
      }
    }
    & p {
      font-size: 2rem;
      margin-top: 2rem;
    }
  }
}
